@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@400;700 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap');
body{
    margin: 0;
    height: 100%;
}
.nav{
    background-color: black;
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
}

.nav .textNav{
    text-decoration: none;
    color: white;
}

.nav .textNav:hover{
    text-decoration: none;
    color: tomato;
}

.textNavActive{
    text-decoration: none;
    color: white;
}

.textNavActive:active{
    color: yellow;
}


.textNavFocus {
    text-decoration: none;
    color: white;
}

.textNavFocus:focus {
    color: blue; 
}

.ContainerPrincipal {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imgContainerPrincipal {
    display: flex;
    position: relative;
}

.imgHome {
    width: 100%;
}

.logoContainerPrincipal {
    position: absolute;
    top: 18%;
    left: 33%;
    transform: translate(-50%, -50%);
    animation: fade 2s linear infinite;
}

@keyframes fade {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0.5;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


.containerNosotros{
    width: 100vw;
    height: auto;
}

.divImgNosotros {
    display: flex;
    width: 100vw;
    height: auto;
}

.divImgNosotros, .imgBG, .divImgNosotros{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divImgNosotros img {
    width: 100%;
    height: auto;
}

.imgBGTexto {
    position: relative;
    text-align: center;
    color: white;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textNosotros {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -83%);
    text-align:justify;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    width: 23rem;
}

.textNosotros h3 {
    font-weight: 400;
    margin: 0;
}

.textNosotros p {
    font-weight: 400;
}   

.titleColor{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #5B5B5F;
}
.titleTiendas{
    padding: 4rem 0;
}

.imgTiendas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.boxTiendas img{
    width: 30rem;
    height: auto;
    
}

.textTiendas{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #007138;
}

.textTiendas p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #5B5B5F;
}

.containerImagen{
    display: flex;
    margin: 0;
}

.divContainerImagen img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.imgProductos{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    padding: 5rem 10rem;
    justify-content: center;
    
    
}
.boxProducto img{
    width: 20rem;
    height: 100%;
    position: relative;
    text-align: center;
    color: white;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.textProductos{
    display: flex;
    flex-direction: column;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 20%;
    position: absolute;
    text-align:justify;
    align-items: end;
}

.textProductos p{
    display: flex;
    align-items: end;
    width: 10rem;
} 

.button{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50%;   /* Posición desde arriba */
    left: 2%;
}

#botonCambiarEstilo{
    width: 5rem;
    height: 5rem;
    background-color: tomato;
    border-radius: 50%;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#botonCambiarEstilo p{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 1rem;
    text-align: center;
}

.footer{
    background-image: url('media/images/FondoFooter.png')
}

.containerFooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.textFooter{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    padding: 7rem
}

.textFooter a{
text-decoration: none;
color: white;
}

.textFooter p{
    width: 10rem;
    word-wrap: break-word;
}

.iconRRSS{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 0 0;
}

.circuloRRSS{
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 50%;
    border: none;
}

.copy{
    display: flex;
    flex-direction: column;
}

.copy p{
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
}

/* .parrafo{
    display: flex;
    align-items: end;
} */

/* .posicionTextoProductos{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

} */

@media (max-width: 800px) {

    body{
        background-color: #E5E5E5;
    }
    .nav{
        display: none;
    }
    .logoContainerPrincipal {
        position: absolute;
        top: 22%;
        left: 41%;
        transform: translate(-50%, -50%);
        width: 7rem;
    }

    .containerNosotros{
        width: 100vw;
        height: auto;
    }

    .titleColor{
        font-family: 'Bebas Neue', sans-serif;
        font-weight: 400;
        text-align: center;
        color: #5B5B5F;
    }

    /* .{
        padding: 2rem 0;
    } */
    
    .divImgNosotros {
        display: flex;
        width: 100vw;
        height: auto;
    }
    
    .divImgNosotros, .imgBG, .divImgNosotros{
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 6rem;
    }
    
    .divImgNosotros img {
        width: 100%;
        height: auto;
    }
    
    .imgBGTexto {
        
        text-align: center;
        color: white;
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 6rem;
    }
    
    .textNosotros {
        color: #A0A0A3;
        top: 13%;
        left: 50%;
        transform: translate(-80%, -83%);
        text-align:justify;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 80%;
        width: 30rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0rem ;
        text-transform: uppercase;
    }
    
    .textNosotros h3 {
        font-weight: 700;
        margin: 0;
    }
    
    .textNosotros p {
        font-weight: 400;
    }

    .textTiendas{
        font-family: 'Bebas Neue', sans-serif;
        font-weight: 400;
        text-align: center;
        color: #5B5B5F;
        text-transform: uppercase;
    }

    .containerImagen{
        display: flex;
        margin: 0;
    }

    .divContainerImagen img{
        width: 100vw;
        height: auto;
    }

}